@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mochiy+Pop+One&display=swap');

.adoption-form-container {
    background-color: #8377D1;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    padding-bottom: 10%;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #1E005B;
}

.adoption-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    max-width: 900px;
    background-color: #FFF7DD;
    border-radius: 35px;
    border: 2px solid #1E005B;
    padding: 30px;
    box-sizing: border-box;
    margin: 30px auto;
     border: 3px solid #1E005B; 

    box-shadow: 
        14px 14px 0px #51459D,   
        0px 6px 20px rgba(0,0,0,0.2); 
}

.adoption-form-title {
    text-align: center;
    font-size: 24px;
    color: #1E005B;
    margin-bottom: 20px;
    font-family: "Mochiy Pop One", sans-serif;
}

.adoption-form input {
    border-radius: 8px;
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
}

.submit-form {
    font-family: "Mochiy Pop One", sans-serif;
    display: block;
    margin: 20px auto 0;
    background-color: #8377D1;
    font-size: 18px;
    border-radius: 12px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    transition: 0.2s ease;
}

.submit-form:hover {
    background-color: #6e64b8;
    transform: translateY(-2px);
}

@media (max-width: 900px) {
    .adoption-form {
        width: 85%;
        padding: 20px;
    }

    .adoption-form-title {
        font-size: 22px;
    }

    .adoption-form input {
        font-size: 0.95rem;
    }

    .submit-form {
        font-size: 15px;
        padding: 10px 25px;
    }
}

@media (max-width: 600px) {
    .adoption-form-container {
        padding: 20px 0;
    }

    .adoption-form {
        width: 90%;
        padding: 18px;
        border-radius: 14px;
    }

    .adoption-form-title {
        font-size: 20px;
        margin-bottom: 13px;
    }

    .adoption-form input {
        padding: 7px;
        font-size: 0.9rem;
    }

    .submit-form {
        font-size: 12px;
        padding: 8px 15px;
        border-radius: 10px;
    }
}

@media (max-width: 400px) {
    .adoption-form {
        padding: 15px;
    }

    .adoption-form-title {
        font-size: 18px;
    }

    .submit-form {
        font-size: 12px;
        padding: 7px 18px;
    }
}
