@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mochiy+Pop+One&display=swap');

.contribua_info {
  background-color: #FFF7DD;
  width: 100%;
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  font-family: "Mochiy Pop One", sans-serif;
  color: #1E005B;
}

.contribua_info h2 {
  font-size: 2rem;
  text-align: center;
}

.contribua_info p {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  max-width: 650px;
}

.info_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 35px;
  flex-wrap: wrap;
}

.left_info,
.right_info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.left_info img,
.right_info img {
  width: 25vw;
  height: auto;
  border-radius: 20px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.left_info img:hover,
.right_info img:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}


@media (max-width: 768px) {
  .info_container {
    flex-direction: column;
    gap: 20px;
  }

  .left_info img,
  .right_info img {
    width: 60vw;
    max-width: 300px;
  }
}