.cats-container {
  padding: 40px 20px;
  background: #ffd86b;
  min-height: 100vh;
}

.title {
  text-align: center;
  font-family: "Mochiy Pop One", sans-serif;
  font-size: 26px;
  margin-bottom: 40px;
  color: #a02a00;
}

.cats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px;
  max-width: 1000px;
  margin: 0 auto;
  justify-items: center;
}

.add-card {
  width: 100%;
  height: 290px;
  background: #fff7da;
  border: 3px dashed #51459D;
  border-radius: 14px;

  overflow: hidden;
  position: relative;

  box-shadow: 0px 6px 0px #f3a425;
  cursor: pointer;
  transition: transform .2s;
}

.add-card:hover {
  transform: translateY(-5px);
  background-color: #ffe9a6;
}

.add-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.add-card-content {
  font-size: 60px;
  font-weight: bold;
  user-select: none;
}

.add-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 55px;
  color: #5c2dd5;
  font-family: "Mochiy Pop One", sans-serif;
  border-radius: 10px;

  padding: 10px 18px;
}

@media (max-width: 600px) {
  .cats-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
  }

  .add-card {
    width: 150px;
    height: 190px;
  }

  .add-card-content {
    font-size: 50px;
  }
}