.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;          
    margin-left: calc(50% - 50vw); 
    margin-right: calc(50% - 50vw);
}

.banner img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.divideBar{
    width: 100vw;
    height: 2vw;
    background-color: #51459D;
    flex-shrink: 0;
}