@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Mochiy+Pop+One&display=swap');

.description {
    background-color: #FFF7DD; 
    padding: 20px 20px;
    text-align: center;
    color:#1E005B;
}

.description h2 {
    font-family: "Mochiy Pop One", sans-serif;
    font-size: 2rem;
    margin-bottom: 35px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description .content-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
}

.content {
    width: 32%;
}

.content h4 {
    font-family: "Mochiy Pop One", sans-serif;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.content p {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
}


@media (max-width: 768px) {

    .description .content-container {
        flex-direction: column; 
        align-items: center;
        gap: 10px;
    }

    .content {
        width: 90%;
        text-align: center; 
    }

    .description h2 {
        font-size: 1.3rem;
    }

    .content h4 {
        font-size: 1rem;
    }
}
