@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mochiy+Pop+One&display=swap');

.login-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

@media (max-width: 768px) {
    
}
@media (max-width: 480px) {
    
}
