@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mochiy+Pop+One&display=swap');

.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.left {
  flex: 1;
  background: #FFF1CE; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.cats {
  max-width: 90%;
  height: auto;
}

.right {
  flex: 1;
  background: #B6A4E0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.right h2 {
  font-size: 2rem;
  color: #341C62;
  margin-bottom: 30px;
  font-weight: 700;
  font-family: "Mochiy Pop One", sans-serif;
}

form {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-size: 0.9rem;
  color: #341C62;
}

input {
  padding: 12px;
  border-radius: 30px;
  border: none;
  background: #EDEDED;
  font-size: 1rem;
  outline: none;
}

.forgot {
  font-size: 0.8rem;
  text-align: right;
  color: #341C62;
  text-decoration: none;
  margin-top: -5px;
}

button {
  margin-top: 15px;
  padding: 12px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background: #4F3CAC;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  transition: 0.2s;
}

button:hover {
  background: #3A2D82;
}

.error {
  background: #ffdddd;
  color: #8a0000;
  padding: 8px;
  border-radius: 6px;
  font-size: 0.9rem;
}

@media (max-width: 900px) {

  .login-container {
    flex-direction: column;
    height: auto;
  }

  .left, .right {
    width: 100%;
    flex: none;
    height: auto;
  }

  .left {
    padding: 40px 0;
  }

  .right {
    padding: 40px 20px;
  }

  .cats {
    max-width: 70%;
  }

  h2 {
    margin-top: 10px;
  }
}

@media (max-width: 500px) {
  .right h2 {
    font-size: 1.4rem;
  }

  form {
    max-width: 200px;
  }

  input, button {
    font-size: 0.9rem;
    padding: 10px;
  }
}

