@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mochiy+Pop+One&display=swap');

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 999;
}

.modal-box {
  background: #ffeb9c;
  border-radius: 20px;
  padding: 25px;
  display: flex;
  gap: 25px;
  position: relative;
  max-width: 850px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.close-btn {
  position: absolute;
  right: -10px;
  top: -10px;
  background: #6d4bc7;
  border: none;
  color: white;
  font-size: 22px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-left {
  flex: 1;
}

.modal-main-img {
  width: 100%;
  border-radius: 12px;
}

.modal-right {
  flex: 1;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.modal-right h2 {
  font-size: 24px;
  color: #361c54;
  margin-bottom: 10px;
  font-family: "Mochiy Pop One", sans-serif;
}

.info-label {
  font-weight: bold;
  font-size: 16px;
  color: #361c54;
  margin-top: 15px;
  margin-bottom: 6px;
  display: block;
}

.info-tags {
  margin-top: 6px;
  margin-bottom: 30px;
  display: flex;
  color: #361c54;
  gap: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  flex-wrap: wrap;
}

.info-tags span {
  background: #f2b960;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 13px;
}



.input-field {
  width: 100%;
  padding: 10px 12px;
  border-radius: 10px;
  border: 2px solid #d9a857;
  background: #fff5cc;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  outline: none;
  transition: 0.2s;
}

.input-field:focus {
  border-color: #b98e48;
  background: #fff1b8;
}

.input-area {
  width: 100%;
  padding: 12px;
  min-height: 90px;
  border-radius: 10px;
  border: 2px solid #d9a857;
  background: #fff5cc;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  outline: none;
  resize: vertical;
  transition: 0.2s;
}

.input-area:focus {
  border-color: #b98e48;
  background: #fff1b8;
}

.save-btn {
  margin-top: 20px;
  background: #4bc76d;
  border: none;
  color: white;
  padding: 12px 30px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
  box-shadow: 0px 4px 0px #2b9c49;
}

.save-btn:hover {
  background: #3eaa5a;
}


.adopt-btn {
  margin-top: 12px;
  background: #c74b4b;
  border: none;
  color: white;
  padding: 12px 30px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
  box-shadow: 0px 4px 0px #9b2e2e;
}

.adopt-btn:hover {
  background: #9e3a3a;
}

.modal-description {
  margin-top: 10px;
  line-height: 1.4;
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  color: rgb(44, 44, 44);
}

@media (max-width: 820px) {
  .modal-box {
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    max-height: 70vh;
    overflow-y: auto;
    padding: 20px;
  }

  .modal-main-img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 12px;
  }

  .close-btn {
    right: 10px;
    top: 10px;
  }

  .modal-right h2 {
    font-size: 18px;
  }

  .modal-description {
    margin-top: 10px;
    line-height: 1.4;
    font-size: 12px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: rgb(44, 44, 44);
  }
}

@media (max-width: 480px) {
  .modal-box {
    padding: 16px;
    max-width: 95%;
  }

  .modal-main-img {
    max-height: 200px;
  }
}
